body{
  color: hsla(52, 100%, 20%, 1.0);
  background-color: #dcd6bd;
}

#title{
  position: relative;
  top: -170px;
  left: 200px;
  font-family: monospace;
  letter-spacing: 10px;
  font-size: 40px;
}

#row{

  display: block;
  float: left;

}

#row button{
  padding: 5;
  

}

#calculator{
  width: 900px;
  height:500px;
  margin: 10px auto;


}

#equal{



}
