*{
  margin: 0;
  padding: 0;
}

body{
  color: hsla(52, 100%, 20%, 1.0);
  background-color: lightblue;
}

button{
  width: 30px;
  height: 30px;
}

#display {
  text-align: right;
  width: 130px;
  border: 1px solid
}

#title{
  position: relative;
  top: -170px;
  left: 200px;
  font-family: monospace;
  letter-spacing: 10px;
  font-size: 40px;
}
